{{#partial "content" }}
  <div class="container">
    <div class="row">
      <h2>The Lodge and Cabins</h2>
    </div>

    <div class="row">
      <article class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
        <p>{{{gallery_category_description}}}</p>

        <p class="d-block d-md-none">For more information on each building, select from the dropdown
          <select class="form-control inline-form-control" >
            {{#each galleries}}
              <option value="{{this.anchor}}">{{this.name}}</option>
            {{/each}}
          </select>
        </p>

        <div class="d-block d-md-none border-line"></div>

        <p class="d-block d-md-none">Click on a tab below for more information on each building</p>

<!--        <div class="flex-container">-->
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {{#each galleries}}
              {{#if @first}}
                <a class="nav-link active" id="nav-{{this.anchor}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{this.anchor}}" type="button" role="tab" aria-controls="nav-{{this.anchor}}" aria-selected="true">{{this.name}}</a>

              {{else}}
                <a class="nav-link" id="nav-{{this.anchor}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{this.anchor}}" role="tab" type="button" aria-controls="nav-{{this.anchor}}" aria-selected="false">{{this.name}}</a>
              {{/if}}
            {{/each}}
          </div>
<!--        </div>-->

<!--        <div id="content-wrap">-->
          <div class="tab-content" id="nav-tabContent">
          {{#each galleries}}
            {{#if @first}}
                <div class="tab-pane fade show active" id="nav-{{this.anchor}}" role="tabpanel" aria-labelledby="nav-{{this.anchor}}-tab" tabindex="0">
                  <article class="col-md-12 offset-md-0">
                    <p><span class="h4">{{this.name}}&nbsp;</span>{{{this.description}}}</p>
                  </article>
                  <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                    <div id="{{this.anchor}}-carousel" class="carousel slide carousel-fade image-carousel" data-ride="carousel" data-interval="false">

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        {{#each this.images}}
                          {{#if @first}}
                              <div class="carousel-item active gallery-image">
                                <img src="{{this.large_url}}" class="d-block mx-auto"/>
                                <!--<div class="carousel-caption">
                                  The Lodge
                                </div>-->
                              </div>
                            {{else}}
                              <div class="carousel-item gallery-image">
                                <img src="{{this.large_url}}" class="d-block mx-auto"/>
                                <!--<div class="carousel-caption">
                                  The Lodge
                                </div>-->
                              </div>
                            {{/if}}

                        {{/each}}
                      </div>

                      <!-- Controls -->
                      <button class="carousel-control-prev" type="button" data-bs-target="#{{this.anchor}}-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#{{this.anchor}}-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 visible-md visible-lg">
                    <div id="{{this.anchor}}-carousel-thumbnails" class="carousel slide thumbnail-carousel" data-ride="carousel" data-interval="false" data-wrap="true">
                      <div class="carousel-inner" role="listbox">
                        {{#each this.thumbs}}
                          {{#if this.first}}
                              <div class="carousel-item active">
                                <div class="row gx-2">
                                  {{#each this.thumbs}}
                                      <div class="col-sm-2">
                                        <div class="thumbnail mx-auto d-block {{#if @first}}current-image{{/if}}" onclick="selectThumbnail(this);">
                                          <img src="{{thumb_url}}" alt="Image" class="img-responsive">
                                        </div>
                                      </div>
                                    {{/each}}
                                </div>
                              </div>
                            {{ else }}
                              <div class="carousel-item">
                                <div class="row">
                                  {{#each this.thumbs}}
                                      <div class="col-sm-2">
                                        <div class="thumbnail mx-auto d-block"  onclick="selectThumbnail(this);">
                                          <img src="{{thumb_url}}" alt="Image" class="img-responsive">
                                        </div>
                                      </div>
                                    {{/each}}
                                </div>
                              </div>
                            {{/if}}
                        {{/each}}
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#{{this.anchor}}-carousel-thumbnails" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#{{this.anchor}}-carousel-thumbnails" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              {{else}}
                <div class="tab-pane fade" id="nav-{{this.anchor}}" role="tabpanel" aria-labelledby="nav-{{this.anchor}}-tab" tabindex="0">
                  <article class="col-md-12 offset-md-0">
                    <p><span class="h4">{{this.name}}&nbsp;</span>{{{this.description}}}</p>
                  </article>
                  <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                    <div id="{{this.anchor}}-carousel" class="carousel slide carousel-fade image-carousel" data-ride="carousel" data-interval="false">

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        {{#each this.images}}
                          {{#if @first}}
                            <div class="carousel-item active gallery-image">
                              <img src="{{this.large_url}}" class="d-block mx-auto"/>
                              <!--<div class="carousel-caption">
                                The Lodge
                              </div>-->
                            </div>
                          {{else}}
                            <div class="carousel-item gallery-image">
                              <img src="{{this.large_url}}" class="d-block mx-auto"/>
                              <!--<div class="carousel-caption">
                                The Lodge
                              </div>-->
                            </div>
                          {{/if}}

                        {{/each}}
                      </div>

                      <!-- Controls -->
                      <button class="carousel-control-prev" type="button" data-bs-target="#{{this.anchor}}-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#{{this.anchor}}-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 visible-md visible-lg">
                    <div id="{{this.anchor}}-carousel-thumbnails" class="carousel slide thumbnail-carousel" data-ride="carousel" data-interval="false" data-wrap="true">
                      <div class="carousel-inner" role="listbox">
                        {{#each this.thumbs}}
                          {{#if this.first}}
                            <div class="carousel-item active">
                              <div class="row gx-2">
                                {{#each this.thumbs}}
                                  <div class="col-sm-2">
                                    <div class="thumbnail mx-auto d-block {{#if @first}}current-image{{/if}}" onclick="selectThumbnail(this);">
                                      <img src="{{thumb_url}}" alt="Image" class="img-responsive">
                                    </div>
                                  </div>
                                {{/each}}
                              </div>
                            </div>
                          {{ else }}
                            <div class="carousel-item">
                              <div class="row">
                                {{#each this.thumbs}}
                                  <div class="col-sm-2">
                                    <div class="thumbnail mx-auto d-block"  onclick="selectThumbnail(this);">
                                      <img src="{{thumb_url}}" alt="Image" class="img-responsive">
                                    </div>
                                  </div>
                                {{/each}}
                              </div>
                            </div>
                          {{/if}}
                        {{/each}}
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#{{this.anchor}}-carousel-thumbnails" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#{{this.anchor}}-carousel-thumbnails" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
<!--        </div>-->


      </article>
    </div>
  </div>


  <script src="./js/lodge_and_cabins.js"></script>

{{/partial}}

{{> layouts/base }}
