{{#partial "content" }}
  <div class="container">
  <div class="row">
    <h2>Rates & Availability - {{current_season.name}}</h2>
  </div>

  <div class="row">
    <article class="col-sm-10 offset-sm-1">

      <p><span class="h3">Sunset Lodge</span> and the surrounding cabins are available to rent for 5 months out of the year, from June to October.<br/>
        During our high season ({{start_date}} - {{end_date}}), we only accept bookings of all of the units together (other than Judy's Cabin).
      </p>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs"  id="rates-availability-tabs">
        <li class="nav-item"><a href="#rates" class="nav-link active" data-bs-toggle="tab">Rates</a></li>
        <li class="nav-item"><a href="#availability" class="nav-link" data-bs-toggle="tab">Availability</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="rates">
          <article class="col-md-12 offset-md-0">
            <p><span class="h4">The {{current_season.name}} high season weekly rates</span> are below. During the high season, we require a 1 week minimum stay.<br/>
              <span class=" italics">All rates subject to 9% state sales tax. Security deposits required.</span></p>

            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Max Occupancy</th>
                  <th># Bedrooms</th>
                  <th># Bathrooms</th>
                  <th>Rate</th>
                </tr>
                {{#each high_current_rates}}
                  <tr>
                    <td>{{this.building_name}}</td>
                    <td>{{this.max_occupancy}}</td>
                    <td>{{this.bedrooms}}</td>
                    <td>{{this.bathrooms}}</td>
                    <td>{{this.high_season_rate}}</td>
                  </tr>
                {{/each}}
              </table>
            </div>


            <p><span class="h4">Sheets and towels </span> are not included with the rental fee, but may be rented for $200/week (for all cabins). You may also bring your own.</p>
            <p><span class="h4">Boats</span> can be rented for $300/week. The boat package includes two canoes, two 1-person kayaks, and one 2-person kayak.<br/>
              Boats may also be rented separately for $100/week each.</p>

            <p><span class="h4">The {{current_season.name}} quiet season weekly rates</span> are below.<br/>
              <span class=" italics">All rates subject to 9% state sales tax. Security deposits required.</span></p>

            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Max Occupancy</th>
                  <th># Bedrooms</th>
                  <th># Bathrooms</th>
                  <th>Rate</th>
                </tr>
                {{#each low_current_rates}}
                  <tr>
                    <td>{{this.building_name}}</td>
                    <td>{{this.max_occupancy}}</td>
                    <td>{{this.bedrooms}}</td>
                    <td>{{this.bathrooms}}</td>
                    <td>{{this.low_season_rate}}</td>
                  </tr>
                {{/each}}
              </table>
            </div>


            <p class="minor-gap"><span class="h4">Daily rates</span>, listed below, are available for the off-season. A minimum 3 night stay is required.<br/>
              <span class=" italics">All rates subject to 9% state sales tax. Security deposits required.</span></p>

            <div class="table-responsive col-sm-8 offset-sm-2">
              <table class="table">
                <tr>
                  <th></th>
                  <th>3 night stay</th>
                  <th>per additional night</th>
                </tr>
                <tr>
                  <td>All Units Together</td>
                  <td>$2,900</td>
                  <td>$900</td>
                </tr>
                <tr>
                  <td>The Lodge</td>
                  <td>$1,800</td>
                  <td>$525</td>
                </tr>
                <tr>
                  <td>Lakeside Cabin</td>
                  <td>$725</td>
                  <td>$225</td>
                </tr>
                <tr>
                  <td>Tree House Cabin</td>
                  <td>$700</td>
                  <td>$175</td>
                </tr>
                <tr>
                  <td>Bird's Nest Cabin</td>
                  <td>$525</td>
                  <td>$150</td>
                </tr>
                <tr>
                  <td>Judy's Cabin</td>
                  <td>$725</td>
                  <td>$175</td>
                </tr>
              </table>
            </div>
          </article>
        </div>

        <div class="tab-pane" id="availability">
          <article class="col-md-12 offset-md-0">
            <p><span class="h4">{{current_season.name}} Availability</span> is listed below
              {{#if next_season}}
                , for {{next_season.name}} availability <a href="#">click here</a>
              {{/if}}
            </p>
            <div class="calendar-guide col-md-3"><div class="not-open square"></div><div class="guide-explanation">Closed</div></div>
            <div class="calendar-guide col-md-3"><div class="rented square"></div><div class="guide-explanation">Rented</div></div>
            <div class="calendar-guide col-md-3"><div class="available square"></div><div class="guide-explanation">Available</div></div>
            <div style="clear: both"></div>
            <p>
              Viewing availability for:
              <select class="form-control inline-form-control" onchange="handleBuildingChange(this)">
                {{#each buildings}}
                  <option value="{{identifier}}">{{name}}</option>
                {{/each}}
              </select>
            </p>

            {{#each buildings}}
              <div class="col-md-12 offset-md-0 building-container {{#unless @first}}building-hidden{{/unless}}" id="building-{{identifier}}">
                <div id="building-{{identifier}}-carousel" class="carousel slide building-carousel" data-ride="carousel" data-interval="false">

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div><h1>{{name}}</h1></div>
                      {{#each availability}}
                        <div class="item">
                          <div class="table-responsive">
                            <table class="table calendar-table table-bordered">
                              <tr>
                                <th colspan="7">{{name}}</th>
                              </tr>
                              <tr>
                                <th>Sat</th>
                                <th>Sun</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                              </tr>
                              {{#each weeks}}
                                  <tr>
                                  {{#each .}}
                                      <td
                                        class="{{#if outsideMonth}}not-this-month{{/if}} {{#if isClosed}}not-open{{/if}} {{#if isBooked}}rented{{/if}} {{#if isAvailable}}available{{/if}}"
                                      >{{dayOfMonth}}</td>
                                    {{/each}}

                                  </tr>
                                {{/each}}
                            </table>
                          </div>
                        </div>
                      {{/each}}
                  </div>
                </div>
              </div>

            {{/each}}
          </article>
        </div>
      </div>
    </article>
  </div>
  </div>


  <script src="./js/rates_and_availability.js"></script>
{{/partial}}

{{> layouts/base }}
